   @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
   @import "https://fonts.googleapis.com/css?family=Ruda:300,400,500,600,700";
   /* Exo */
   @import "https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap";
   @import "https://fonts.googleapis.com/css2?family=Piedra&display=swap";
   @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

   body {
    font-family: 'Courier Prime', sans-serif;
    background: #fafafa; /* dark white */
}

p {
    font-family: 'Courier Prime', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    padding: 50px;
    /*color: #999;*/
    color: #1A4876/*##414A4C*/; /* dark blue */
}


}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
h2 {
   padding: 20px;
   color: #1A4876/*##414A4C*/; /* dark blue */
    font-family: 'Piedra', cursive;
    text-shadow: 4px 4px #ADADAD;
    text-align: center;
    font-size: 400%;
    font-weight: 700;
}
h3 {
   padding: 15px;
   color: #1A4876/*##414A4C*/; /* dark blue */
    font-family: 'Piedra', cursive;
    text-shadow: 4px 4px #ADADAD;
    text-align: left;
    font-size: 200%;
    font-weight: 400;
}
h4 {
   padding: 10px;
   color: #1A4876/*##414A4C*/; /* dark blue */
    font-family: 'Piedra', cursive;
    text-align: left;
    font-size: 150%;
    font-weight: 200;
}




#text p li { 
    font-family: 'Courier Prime', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    padding: 40px;
    /*color: #999;*/
    color: #1A4876/*##414A4C*/; /* dark blue */
}
#text a { 
    font-family: 'Courier Prime', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    padding: 20px;
    /*color: #999;*/
    color: #1A4876/*##414A4C*/; /* dark blue */
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    padding-right: 10px;
    background: #ECFFBE; /* BG8 sublists */
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: $text-sidebar; /* BG9 */
    color: #ffcc19;
}

a.article,
a.article:hover {
    background: #6d7fcc !important; /* BGT */
    color: $text-sidebar !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


#content {
    z-index: 1;
    width: calc(100% - 230px);
    min-height: 100vh;
    position: absolute;
    top: 0;
    /*   right: 0; */
    left: 250px;
    padding:40px; 
    /*transition: all 0.3s;*/
    /* background: #ECFFBE; */
    background: #FFF; /* BGL */
}
#content.text { 
    font-family: 'Courier Prime', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    padding: 50px;
    /*color: #999;*/
    color: #1A4876/*##414A4C*/; /* dark blue */
}

#content.active {
    width : 100%;
    left: 20px
		
}

 p.copyright {
        width: 100%;
        line-height: 40px;
        font-size: 1.2em;
        text-align: right;
        bottom:0;
    }
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/*
@media (max-width: 768px) {
    #content.active {width: calc(100% - 230px) }
    #content { width: 100% }
    #sidebar {
        margin-left: -230px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

*/
