   @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
   @import "https://fonts.googleapis.com/css?family=Ruda:300,400,500,600,700";
   /* Exo */
   @import "https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap";
   @import "https://fonts.googleapis.com/css2?family=Piedra&display=swap";

   body {
    font-family: 'Ruda', sans-serif;
    background: #fafafa; /* dark white */
}

p {
    font-family: 'Ruda', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    padding: 20px;
    /*color: #999;*/
    color: #1A4876/*##414A4C*/; /* dark blue */
}

h3 {
   padding: 20px;
   color: #1A4876/*##414A4C*/; /* dark blue */
}
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.bannertext {
    color: #ECECEC;
    position: absolute;
    text-shadow: 2px 2px #009999;
    /*text-align: center;*/
    font-size: 150%;
    font-weight: 900;
    /*font-family: 'Montserrat Alternates', sans-serif;*/
    font-family: 'Piedra', cursive;
    top: 40px;
    padding: 15px;
    z-index: 4;
}
.navbar {
    position: fixed;
    top: 0;
    /*right: 0;*/
    /*height : 100px;
    padding: 15px 10px 10px 10 px;
    width : 60%;
    background: #ECFFBE; 
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/ 
}

#sidebar .custom-menu {
    z-index: 3;
    
    display: inline-block;
    position: absolute;
    top: 5px;
    right: -0;
    margin-right: 5px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }


#sidebar .custom-menu .btn.btn-secondary:after {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #000;
    border-radius: 20%;

}

.mybutton {
    /*background-color: #4CAF50; *//* Green */
    z-index: 3;
    position: fixed;
    left: 223px;
    margin: 10px 10px;
    background-color: #ECFFBE;
    border: none;
    color: green;
    border: 2px solid #4CAF50; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5%;
   -webkit-transform: rotate(45deg);
 
}
.mybutton.active {
    /*background-color: #4CAF50; *//* Green */
    z-index: 3;
    left: -2px;
    position: fixed;
    margin: 10px 12px;
    background-color: #ECFFBE;
    border: none;
    color: green;
    border: 2px solid #4CAF50; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5%;
}
.navbar-btn {
    position: fixed;
    left: 250;
    box-shadow: none;
    outline: none !important;
    border: none;
    background-color:  #ECFFBE
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

$lila : $turbo-yellow /*#7386D5*/;
$lila-60 : $turbo-yellow-60 /*#6d7fcc*/;
$lila-line : $turbo-yellow-70 /*#47748b*/;

$text-sidebar : #6b6b6b /*#fff*/;
$text-sidebar-hover : #6b6b6b /*#fff*/;

.text-sidebar {
  color: #6b6b6b;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#header {
  /*padding: 10px 16px;*/
  /*background: #555;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%*/
} 
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 2;
    background: #ECFFBE;
    transition: all 0.3s;
    overflow-y: auto;
    scrollbar-width:thin;
    scrollbar-color: #c5de87 #ECFFBE;
   /* -webkit-overflow-scrolling: touch*/
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#sidebar.active {
    /*transform: rotateY(100deg);*/
    margin-left: -230px;
    overflow-y: hidden;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ECFFBE; /* lightest green */
}

.sidebar-headertext {
    /*font-family: 'Montserrat Alternates', sans-serif;*/
    font-family: 'Piedra', cursive;
    color: white;
    position: absolute;
    text-shadow: 2px 2px #009999;
    /*text-align: center;*/
    top: 90px;
    padding: 15px;
    z-index: 4;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}


#text p { 
    font-family: 'Ruda', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    padding: 10px;
    /*color: #999;*/
    color: #1A4876/*##414A4C*/; /* dark blue */
}
#text a { 
    font-family: 'Ruda', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    padding: 10px;
    /*color: #999;*/
    color: #1A4876/*##414A4C*/; /* dark blue */
}

#sidebar ul p {
    color: $text-sidebar;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #ffcc19;
    background: $text-sidebar-hover; /* BG6 */
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: $text-sidebar;
    background: #ECFFBE; /* active / open */
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ECFFBE; /* BG8 sublists */
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: $text-sidebar; /* BG9 */
    color: #ffcc19;
}

a.article,
a.article:hover {
    background: #6d7fcc !important; /* BGT */
    color: $text-sidebar !important;
}
/*
#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}*/
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


#content {
    z-index: 1;
    width: calc(100% - 230px);
    min-height: 100vh;
    position: absolute;
    top: 0;
    /*   right: 0; */
    left: 250px;
    padding:15px; 
    /*transition: all 0.3s;*/
    /* background: #ECFFBE; */
    background: #FFF; /* BGL */
}

#content.active {
    width : 100%;
    left: 20px
		
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/*
@media (max-width: 768px) {
    #content.active {width: calc(100% - 230px) }
    #content { width: 100% }
    #sidebar {
        margin-left: -230px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

*/
